@font-face {
  font-family: "Marianne";
  src: url("assets/Marianne/Marianne-Regular.woff2") format('woff2'), url('assets/Marianne/Marianne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: "Marianne", sans-serif;
  max-width: 50rem;
  margin: 1rem auto;
}

.header {
  text-align: center;
  border: 1px solid black;
}

.big-title {
  font-weight: bold;
  font-size: 3rem;
}

.big-title a {
  color: inherit;
}

.sous-titre {
  font-style: italic;
}

.list-posts {
  margin: 1rem auto;
  max-width: 30rem;
}

.footer {
  margin-top: 4rem;
  border-top: 1px solid black;
  padding: 1rem 4rem;
  font-size: smaller;
  font-style: italic;
}

.date-article {
  font-size: smaller;
  font-style: italic;
}

.main {
  font-family: monospace;
  font-size: 1rem;
}
