@font-face {
  font-family: "Marianne";
  src: url("assets/Marianne/Marianne-Regular.woff2") format('woff2'), url('assets/Marianne/Marianne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: "Marianne", sans-serif;
  margin: 1rem auto;
  padding: 1rem
}
